<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="configure.test.configurebuilds.StartUp"
        android:label="@string/app_name">
        <activity
            android:name="configure.test.configurebuilds.activities.test102.RxJava102FlatMapActivity"
            android:parentActivityName="configure.test.configurebuilds.activities.RxJavaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.activities.RxJavaListActivity" />
        </activity>
        <activity
            android:name="configure.test.configurebuilds.activities.test101.RxJava101Activity"
            android:parentActivityName="configure.test.configurebuilds.activities.RxJavaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.activities.RxJavaListActivity" />
        </activity>
        <activity
            android:name="configure.test.configurebuilds.activities.RxJavaListActivity"
            android:label="@string/title_activity_rx_java_list"
            android:parentActivityName="configure.test.configurebuilds.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.MainActivity" />
        </activity>
    </application>

</manifest>