<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="configure.test.configurebuilds.StartUp"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="configure.test.configurebuilds.activities.test104.AlarmTest104Activity"
            android:label="Alarm 104"
            android:parentActivityName="configure.test.configurebuilds.activities.AlarmListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.activities.AlarmListActivity" />
        </activity>
        <activity
            android:name="configure.test.configurebuilds.activities.test103.AlarmTest103Activity"
            android:label="Alarm 103"
            android:parentActivityName="configure.test.configurebuilds.activities.AlarmListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.activities.AlarmListActivity" />
        </activity>
        <activity
            android:name="configure.test.configurebuilds.activities.test102.Test102OneTimeActivity"
            android:label="Alarm 102 one time alarm"
            android:parentActivityName="configure.test.configurebuilds.activities.AlarmListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.activities.AlarmListActivity" />
        </activity>
        <activity
            android:name="configure.test.configurebuilds.activities.AlarmListActivity"
            android:label="@string/title_activity_alarm_list"
            android:parentActivityName="configure.test.configurebuilds.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.MainActivity" />
        </activity>
        <activity
            android:name="configure.test.configurebuilds.activities.test101.AlarmTest101Activity"
            android:label="Alarm 101"
            android:parentActivityName="configure.test.configurebuilds.activities.AlarmListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.activities.AlarmListActivity" />
        </activity>

        <receiver
            android:name="configure.test.configurebuilds.activities.test104.NotificationPublisher"
            android:enabled="true" />
    </application>

</manifest>