<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="configure.test.configurebuilds.StartUp"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="configure.test.configurebuilds.activities.UserInterfaceListActivity"
            android:label="@string/title_activity_user_interface_list"
            android:parentActivityName="configure.test.configurebuilds.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="configure.test.configurebuilds.MainActivity" />
        </activity>
    </application>
</manifest>
